[package]
name = "s2tw"
version = "1.0.3"
authors = ["Magic Len <len@magiclen.org>"]
edition = "2018"
repository = "https://github.com/magiclen/s2tw"
homepage = "https://magiclen.org/s2tw"
keywords = ["chinese", "traditional", "simple", "conversion"]
categories = ["command-line-utilities"]
description= "A simple tool for converting Simple Chinese to Traditional Chinese(TW)."
readme = "README.md"
license = "MIT"

[badges.travis-ci]
repository = "magiclen/s2tw"
branch = "master"

[profile.release]
panic = "abort"

[dependencies]
clap = "2.32.0"
path-absolutize = "1.1.3"

[dependencies.opencc-rust]
version = "1.0.7"
features = ["static-dictionaries"]